@charset "UTF-8";
:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #212121;
  --secondary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #757575;
  --secondary-text-color-theme-light: #303030;
  --list-link-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --portfolio-background: #f5f4fa;
  --color-background: #2f303a;
  --hero-btn-background: #188ce8;
  --border-colors: #ececec;
  --qualities-icon-bg: #f5f4fa;
  --icon-color: #afb1b8;
  --transparent-bg-portfolio: rgba(33, 150, 243, 0.9);
  --transparent-bg-color: rgba(47, 48, 58, 0.8);
  --icon-bg-footer: rgba(255, 255, 255, 0.1);
  --modal-bg-color: rgba(0, 0, 0, 0.2);
  --modal-bg-close: rgba(0, 0, 0, 0.1);
  --modal-border-accent: 1px solid #2196f3;
  --animation-duration: 250ms;
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --color-placeholder: rgba(117, 117, 117, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

body {
  font-weight: 400;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-size: 14px;
  color: var(--primary-text-color-theme-light);
  background: var(--secondary-text-color-theme-dark);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  margin-top: 0;
  margin-bottom: 50px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item {
  margin-right: 50px;
}

.navigation__item:last-child {
  margin-right: 0px;
}

.navigation__link {
  -webkit-transition: color var(--animation-duration) var(--animation-timing);
  transition: color var(--animation-duration) var(--animation-timing);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color-theme-dark);
}

.navigation__link:hover,
.navigation__link:focus,
.contact__phone-number:hover,
.contact__phone-number:focus {
  color: var(--accent-color);
}

.navigation__link--active {
  position: relative;
  color: var(--accent-color);
}

.navigation__link--active::after {
  position: absolute;
  content: "";
  left: 0%;
  bottom: -33px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo--color {
  color: var(--primary-text-color-theme-dark);
}

.logo--color-second {
  color: var(--secondary-text-color-theme-dark);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap:wrap; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  border-bottom: 1px solid var(--border-colors);
  padding-top: 24px;
  padding-bottom: 25px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contact__icon {
  display: block;
  fill: currentColor;
}

.contact__phone-number {
  -webkit-transition: color var(--animation-duration) var(--animation-timing);
  transition: color var(--animation-duration) var(--animation-timing);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.contact__mail {
  -webkit-transition: color var(--animation-duration) var(--animation-timing);
  transition: color var(--animation-duration) var(--animation-timing);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-right: 50px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.contact__mail:hover,
.contact__mail:focus {
  color: var(--accent-color);
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shift {
  display: block;
  margin-left: 10px;
}

.hero__section {
  background: var(--color-background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
}

.hero__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-dark);
  margin: 0px auto 30px;
}

.hero__btn {
  -webkit-transition: background-color var(--animation-duration) var(--animation-timing);
  transition: background-color var(--animation-duration) var(--animation-timing);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-dark);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
}

.hero__btn:hover,
.hero__btn:focus {
  color: var(--secondary-text-color-theme-dark);
  background-color: var(--hero-btn-background);
}

.qualities__item {
  width: 270px;
  margin-right: 30px;
}

.qualities__item:last-child {
  margin-right: 0px;
}

.qualities__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
  margin-top: 0;
  margin-bottom: 10px;
}

.qualities__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.qualities__thumb {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna {
  width: 65.32px;
  height: 70px;
}

.icon-clock {
  width: 66.96px;
  height: 70px;
}

.icon-diagram {
  width: 70px;
  height: 53.69px;
}

.icon-astronaut {
  width: 70px;
  height: 70px;
}

.wework__section {
  padding-top: 0;
}

.wework__title {
  margin-bottom: 50px;
}

.wework__item {
  position: relative;
  margin-right: 30px;
}

.wework__item:last-child {
  margin-right: 0px;
}

.wework__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  background: var(--transparent-bg-color);
  margin: 0px;
  width: 100%;
  height: 70px;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-dark);
}

.list > .our-team__list {
  margin-right: 30px;
  padding-top: 280;
  padding-bottom: 0;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list > .our-team__list:last-child {
  margin-right: 0px;
}

.our-team {
  background: var(--portfolio-background);
}

.our-team__list {
  background: var(--secondary-text-color-theme-dark);
}

.our-team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  margin-top: 30px;
  margin-bottom: 10px;
}

.our-team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
}

.social__links {
  -webkit-transition: color var(--animation-duration) var(--animation-timing), background-color var(--animation-duration) var(--animation-timing);
  transition: color var(--animation-duration) var(--animation-timing), background-color var(--animation-duration) var(--animation-timing);
  width: 44px;
  height: 44px;
  display: block;
  padding: 12px;
  border: none;
  list-style: none;
  color: var(--icon-color);
  background-color: var(--secondary-text-color-theme-dark);
  border-radius: 50%;
}

.social__links:hover,
.social__links:focus {
  color: var(--secondary-text-color-theme-dark);
  background-color: var(--accent-color);
}

.social__icon {
  fill: currentColor;
}

.social__icon:hover,
.social__icon:focus {
  fill: var(--secondary-text-color-theme-dark);
}

.clientage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.clientage__item {
  margin-right: 30px;
}

.clientage__links {
  -webkit-transition: fill var(--animation-duration) var(--animation-timing), border-color var(--animation-duration) var(--animation-timing);
  transition: fill var(--animation-duration) var(--animation-timing), border-color var(--animation-duration) var(--animation-timing);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icon-color);
}

.clientage__links:last-child {
  margin-right: 0px;
}

.clientage__links:hover,
.clientage__links:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.clientage__icon-client1 {
  width: 41px;
  height: 46.7px;
}

.clientage__icon-client2 {
  width: 40px;
  height: 52px;
}

.clientage__icon-client3 {
  width: 43.46px;
  height: 41.18px;
}

.clientage__icon-client4 {
  width: 84.44px;
  height: 40.62px;
}

.clientage__icon-client5 {
  width: 62.54px;
  height: 45.43px;
}

.clientage__icon-client6 {
  width: 93.79px;
  height: 43.93px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--color-background);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__social {
  margin-left: 70px;
}

.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-dark);
}

.footer__links {
  -webkit-transition: background-color var(--animation-duration) var(--animation-timing);
  transition: background-color var(--animation-duration) var(--animation-timing);
  width: 44px;
  height: 44px;
  display: block;
  padding: 12px;
  border: none;
  list-style: none;
  color: white;
  background-color: var(--icon-bg-footer);
  border-radius: 50%;
}

.footer__links:hover,
.footer__links:focus {
  background-color: var(--accent-color);
}

.footer__subscription {
  margin-left: auto;
}

.address {
  margin-top: 20px;
  margin-left: 0px;
}

/* вставка з хедера */
.address__list {
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  padding: 0;
  list-style: none;
}

.address__item {
  padding-right: 10px;
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0px;
}

.adress__link {
  text-decoration: none;
  -webkit-transition: color var(--animation-duration) var(--animation-timing);
  transition: color var(--animation-duration) var(--animation-timing);
  color: var(--secondary-text-color-theme-dark);
}

.adress__link:hover,
.adress__link:focus,
.adress__link--greycolor:hover,
.adress__link--greycolor:focus {
  color: var(--accent-color);
}

.adress__link--greycolor {
  text-decoration: none;
  -webkit-transition: color var(--animation-duration) var(--animation-timing);
  transition: color var(--animation-duration) var(--animation-timing);
  color: var(--list-link-color);
}

.subscription__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-dark);
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscription__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--secondary-text-color-theme-dark);
  background-color: var(--color-background);
}

.subscription__button {
  position: relative;
  -webkit-transition: background-color var(--animation-duration) var(--animation-timing), color var(--animation-duration) var(--animation-timing), -webkit-box-shadow var(--animation-duration) var(--animation-timing);
  transition: background-color var(--animation-duration) var(--animation-timing), color var(--animation-duration) var(--animation-timing), -webkit-box-shadow var(--animation-duration) var(--animation-timing);
  transition: background-color var(--animation-duration) var(--animation-timing), color var(--animation-duration) var(--animation-timing), box-shadow var(--animation-duration) var(--animation-timing);
  transition: background-color var(--animation-duration) var(--animation-timing), color var(--animation-duration) var(--animation-timing), box-shadow var(--animation-duration) var(--animation-timing), -webkit-box-shadow var(--animation-duration) var(--animation-timing);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 29px;
  border: none;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--secondary-text-color-theme-dark);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.subscription__button:hover,
.subscription__button:focus {
  background-color: var(--hero-btn-background);
}

.subscription-icon {
  position: absolute;
  display: inline-block;
  top: 13px;
  right: 28px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio__item {
  margin-right: 8px;
}

.portfolio__item:last-child {
  margin-right: 0px;
}

.portfolio__btn {
  -webkit-transition: background-color var(--animation-duration) var(--animation-timing), color var(--animation-duration) var(--animation-timing), -webkit-box-shadow var(--animation-duration) var(--animation-timing);
  transition: background-color var(--animation-duration) var(--animation-timing), color var(--animation-duration) var(--animation-timing), -webkit-box-shadow var(--animation-duration) var(--animation-timing);
  transition: background-color var(--animation-duration) var(--animation-timing), color var(--animation-duration) var(--animation-timing), box-shadow var(--animation-duration) var(--animation-timing);
  transition: background-color var(--animation-duration) var(--animation-timing), color var(--animation-duration) var(--animation-timing), box-shadow var(--animation-duration) var(--animation-timing), -webkit-box-shadow var(--animation-duration) var(--animation-timing);
  /* width: 44px; */
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  background: var(--portfolio-background);
  border-radius: 4px;
  border: 1px solid transparent;
}

.portfolio__btn:hover,
.portfolio__btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background: var(--accent-color);
  color: var(--secondary-text-color-theme-dark);
}

.portfolio-card__link {
  -webkit-transition: -webkit-box-shadow var(--animation-duration) var(--animation-timing);
  transition: -webkit-box-shadow var(--animation-duration) var(--animation-timing);
  transition: box-shadow var(--animation-duration) var(--animation-timing);
  transition: box-shadow var(--animation-duration) var(--animation-timing), -webkit-box-shadow var(--animation-duration) var(--animation-timing);
  display: block;
  position: relative;
}

.portfolio-card__link:hover,
.portfolio-card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__tipe {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
}

.portfolio-card__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.portfolio-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-card__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
}

.portfolio-card__project {
  padding: 20px 24px;
  border-left: 1px solid var(--border-colors);
  border-right: 1px solid var(--border-colors);
  border-bottom: 1px solid var(--border-colors);
}

.portfolio-card__item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-card__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.portfolio-card__transparent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.portfolio-card__text-transparent {
  position: absolute;
  -webkit-transition: -webkit-transform var(--animation-duration) var(--animation-timing);
  transition: -webkit-transform var(--animation-duration) var(--animation-timing);
  transition: transform var(--animation-duration) var(--animation-timing);
  transition: transform var(--animation-duration) var(--animation-timing), -webkit-transform var(--animation-duration) var(--animation-timing);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  bottom: 0;
  background: var(--transparent-bg-portfolio);
  margin: 0px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}

.portfolio-card__link:hover .portfolio-card__text-transparent {
  /* display: block; */
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.backdrop {
  position: fixed;
  z-index: 1;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity var(--animation-duration) var(--animation-timing);
  transition: opacity var(--animation-duration) var(--animation-timing);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-bg-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.3) rotateZ(0deg);
          transform: translate(-50%, -50%) scale(1.3) rotateZ(0deg);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1) rotateZ(360deg);
          transform: translate(-50%, -50%) scale(1) rotateZ(360deg);
  -webkit-transition: -webkit-transform var(--animation-duration) var(--animation-timing);
  transition: -webkit-transform var(--animation-duration) var(--animation-timing);
  transition: transform var(--animation-duration) var(--animation-timing);
  transition: transform var(--animation-duration) var(--animation-timing), -webkit-transform var(--animation-duration) var(--animation-timing);
  /* min-height: 581px; */
  min-width: 528px;
  background-color: var(--secondary-text-color-theme-dark);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: border-color var(--animation-duration) var(--animation-timing);
  transition: border-color var(--animation-duration) var(--animation-timing);
  width: 30px;
  height: 30px;
  display: block;
  padding: 7px;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  cursor: pointer;
  border: 1px solid var(--modal-bg-close);
  list-style: none;
  color: var(--icon-color);
  background-color: var(--secondary-text-color-theme-dark);
  border-radius: 50%;
}

.modal__close:hover,
.modal__close:focus {
  stroke: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__icon {
  width: 11px;
  height: 11px;
}

.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* padding: 40px; */
}

.form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__field:last-child {
  margin-bottom: 10px;
}

.form__label {
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color-theme-light);
}

.form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: var(--primary-text-color-theme-dark);
  display: inline-block;
  width: 18px;
  height: 18px;
}

.form__input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--primary-text-color-theme-light);
  -webkit-transition: border var(--animation-duration) var(--animation-timing);
  transition: border var(--animation-duration) var(--animation-timing);
}

.form__input:focus-within {
  outline: none;
  border: var(--modal-border-accent);
}

.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}

.form__textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  color: var(--primary-text-color-theme-light);
  -webkit-transition: border var(--animation-duration) var(--animation-timing);
  transition: border var(--animation-duration) var(--animation-timing);
}

.form__textarea::-webkit-input-placeholder {
  color: var(--color-placeholder);
}

.form__textarea::-moz-placeholder {
  color: var(--color-placeholder);
}

.form__textarea:-ms-input-placeholder {
  color: var(--color-placeholder);
}

.form__textarea::-ms-input-placeholder {
  color: var(--color-placeholder);
}

.form__textarea::placeholder {
  color: var(--color-placeholder);
}

.form__textarea:focus-within {
  outline: none;
  border: var(--modal-border-accent);
}

.form__checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding-left: 34px;
  margin-top: 20px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 15px;
  opacity: 1;
  -webkit-transition: opacity var(--animation-duration) var(--animation-timing);
  transition: opacity var(--animation-duration) var(--animation-timing);
}

.checkbox__input:checked ~ .checkbox__icon {
  opacity: 0;
}

.checkbox__icon--active {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 15px;
  opacity: 0;
  -webkit-transition: opacity var(--animation-duration) var(--animation-timing);
  transition: opacity var(--animation-duration) var(--animation-timing);
}

.checkbox__input:checked ~ .checkbox__icon--active {
  opacity: 1;
}

.form__link {
  color: var(--accent-color);
}

.form__button {
  -webkit-transition: background-color var(--animation-duration) var(--animation-timing), color var(--animation-duration) var(--animation-timing), -webkit-box-shadow var(--animation-duration) var(--animation-timing);
  transition: background-color var(--animation-duration) var(--animation-timing), color var(--animation-duration) var(--animation-timing), -webkit-box-shadow var(--animation-duration) var(--animation-timing);
  transition: background-color var(--animation-duration) var(--animation-timing), color var(--animation-duration) var(--animation-timing), box-shadow var(--animation-duration) var(--animation-timing);
  transition: background-color var(--animation-duration) var(--animation-timing), color var(--animation-duration) var(--animation-timing), box-shadow var(--animation-duration) var(--animation-timing), -webkit-box-shadow var(--animation-duration) var(--animation-timing);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0;
  margin: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color-theme-dark);
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form__button:hover,
.form__button:focus {
  background-color: var(--hero-btn-background);
}

/* ============= HEADER ============= */
/* ============= /HEADER ============= */
/* ============= HERO ============= */
/* ============= /HERO ============= */
/* ========== our-qualities ========== */
/* ========== /our-qualities ========== */
/* =========== What we doing ============ */
/* =========== /What we doing ============ */
/* =========== Our Team ============ */
/* =========== /Our Team ============ */
/* ============ clientage ======= */
/* ============= FOOTER ============= */
/* ============= /FOOTER ============= */
/* =================== PORTFOLIO =================== */
/* =============MODAL============ */
/* .backdrop--hidden {opacity: 0;} при БЕМ*//*# sourceMappingURL=main.css.map */