.clientage__list {
    display: flex;
    margin-right: 30px;
  }
  
  .clientage__item {
    margin-right: 30px;
  }
  
  .clientage__links {
    transition: fill var(--animation-duration) var(--animation-timing),
      border-color var(--animation-duration) var(--animation-timing);
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0px;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: var(--icon-color);
  }
  
  .clientage__links:last-child {
    margin-right: 0px;
  }
  
  .clientage__links:hover,
  .clientage__links:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
  
  .clientage__icon-client1 {
    width: 41px;
    height: 46.7px;
  }
  
  .clientage__icon-client2 {
    width: 40px;
    height: 52px;
  }
  
  .clientage__icon-client3 {
    width: 43.46px;
    height: 41.18px;
  }
  
  .clientage__icon-client4 {
    width: 84.44px;
    height: 40.62px;
  }
  
  .clientage__icon-client5 {
    width: 62.54px;
    height: 45.43px;
  }
  
  .clientage__icon-client6 {
    width: 93.79px;
    height: 43.93px;
  }