.contact {
    display: flex;
    margin-left: auto;
  
  &__icon {
    display: block;
    fill: currentColor;
    margin-right: 10px;
  }
  
    
  &__phone-number {
    transition: color var(--animation-duration) var(--animation-timing);
  
    @extend %flex;
    @extend %contact;
   
  }
  
  &__phone-number:hover,
  &__phone-number:focus {
    color: var(--accent-color);
  }

  &__mail {
    transition: color var(--animation-duration) var(--animation-timing);
  
    @extend %flex; 
    @extend %contact;  
    
    margin-right: 50px;
    
  }
  
  &__mail:hover,
  &__mail:focus {
    color: var(--accent-color);
  }
   
}
  