.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--color-background);
  
  
  &__container {
    display: flex;
    align-items: baseline;
  }

  &__social {
    margin-left: 70px;
  }
  
  &__text {    
    @extend %primary-text;
    
    margin-bottom: 20px;
    color: var(--secondary-text-color-theme-dark);
  }
  
  &__links {
    transition: background-color var(--animation-duration) var(--animation-timing);
  
    width: 44px;
    height: 44px;
    display: block;
    padding: 12px;
    border: none;
    list-style: none;
    color: white;
    background-color: var(--icon-bg-footer);
    border-radius: 50%;
  }
  
  &__links:hover,
  &__links:focus {
    background-color: var(--accent-color);
  }
  
  &__subscription {
    margin-left: auto;
  }
}