.qualities {
&__item {
    width: 270px;
    margin-right: 30px;
  }
  
  &__item:last-child {
    margin-right: 0px;
  }
  
  &__title {
    @extend %primary-text;
    color: var(--primary-text-color-theme-dark);
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  &__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  &__thumb {
   
    @extend %flex;
    height: 120px;
    background: var(--qualities-icon-bg);
    border-radius: 4px;
    margin-bottom: 30px;
  }
}