.section {
    padding-top: 94px;
    padding-bottom: 94px;
  
  
  &__title {
    @extend %section-title;
  
    color: var(--primary-text-color-theme-dark);
    margin-top: 0;
    margin-bottom: 50px;
  }
}